<!--
   Made By -: Python World
   Youtube -: www.youtube.com/pythonworldtech
   website - :www.pythonworldtech.in
   email - :pythonworld@gmail.com
   Copyright © 2022 Python World
   -->
   {% extends 'staff/bases.html' %}
   {% block main_content %}
   {% load static %}
   <style>
      .paywithrazorpay2{
      margin-left: 100px;
      }
      .remark{
      width: 350px;
      }
      .fees{
      width: 100px;
      }
      .due_fees{
      width: 100px;
      }
      .paid_fees{
      width: 100px;
      }
      .admission_fees{
      width: 100px;
      }
      .admission_no{
      width: 100px;
      }
      .student_name{
      width: 130px;
      }
      .course{
      width: 250px;
      }
   </style>
   <div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="staff_home">Dashboard</a></li>
                  <li class="breadcrumb-item active">Add Student</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-12">
         <div class="card card-success">
            <div class="card-header">
               <h3 class="card-title">Student Information</h3>
            </div>
            <div class="card-body">
               <form method="POST" action="#" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% if messages %}
                  {% for message in messages %}
                  <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 text-center" {% endif %} >{{message}}</p>
                  {% endfor %}
                  {% endif %}
                  {% if error %}
                  <div class="alert alert-danger text-center" role="alert">
                     {{error}}
                  </div>
                  {% endif %}
                  <div class="row">
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Admission Number</label>
                           <input readonly type="text" value="{{addmission_no}}" name="addmission_no" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>First Name</label>
                           <input type="text" name="first_name" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Last Name</label>
                           <input type="text" name="last_name" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Gender</label>
                           <select class="form-control" name="gender" required>
                              <option>Select Gender</option>
                              <option value="female">Female</option>
                              <option value="male">Male</option>
                              <option value="others">Others</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Course</label>
                           <select class="form-control" name="course_id" required>
                              <option>Select Course</option>
                              {% for c in course %}
                              <option value="{{c.id}}">{{c.course_id}} &nbsp; {{c.course_name}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Session Year</label>
                           <select class="form-control" name="session_id" required>
                              <option>Select Session Year</option>
                              {% for s in session %}
                              <option value="{{s.id}}">{{s.session_start}} To {{s.session_end}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Date of Birth</label>
                           <div>
                              <input type="date" name="dob" class="form-control">
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Username</label>
                           <input type="text" name="username" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Address</label>
                           <input type="text" name="address" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Email Id</label>
                           <div>
                              <input type="text" name="email" class="form-control">
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Mobile Number</label>
                           <input type="text" name="mobile_no" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Student Image</label>
                           <input type="file" name="pic" class="form-control" required>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Admission Fess</label>
                           <input type="text" value="{{addmission_fees}}" name="admission_fees" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Password</label>
                           <input type="text" name="password" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Father's Name</label>
                           <input type="text" name="father_name" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Mother's Name</label>
                           <input type="text" name="mother_name" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Parent's Mobile No.</label>
                           <input type="text" name="parent_no" class="form-control">
                        </div>
                     </div>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"> Add Student</i></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   {% endblock main_content %}