<!--
   Made By -: Python World
   Youtube -: www.youtube.com/pythonworldtech
   website - :www.pythonworldtech.in
   email - :pythonworld@gmail.com
   Copyright © 2022 Python World
   -->
   {% extends 'admin/bases.html' %}
   {% block main_content %}
   {% load static %}
   <style>
      .paywithrazorpay2{
      margin-left: 100px;
      }
      .remark{
      width: 350px;
      }
      .fees{
      width: 100px;
      }
      .due_fees{
      width: 100px;
      }
      .paid_fees{
      width: 100px;
      }
      .admission_fees{
      width: 100px;
      }
      .admission_no{
      width: 100px;
      }
      .student_name{
      width: 130px;
      }
      .course{
      width: 250px;
      }
   </style>
   <div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="admin_home">Dashboard</a></li>
                  <li class="breadcrumb-item active">Add Subject</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-12">
         <div class="card card-success">
            <div class="card-header">
               <h3 class="card-title">Subject Information</h3>
            </div>
            <div class="card-body">
               <form method="POST">
                  {% csrf_token%}
                  {% if messages %}
                  {% for message in messages %}
                  <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 text-center" {% endif %} >{{message}}</p>
                  {% endfor %}
                  {% endif %}
                  {% if error %}
                  <div class="alert alert-danger text-center" role="alert">
                     {{error}}
                  </div>
                  {% endif %}
                  <div class="row">
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Subject ID</label>
                           <input readonly type="text" value="{{subject_id}}" name="subject_id" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Subject Name</label>
                           <input type="text" name="subject_name" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Course</label>
                           <select class="form-control" name="course" required>
                              <option>Select Course</option>
                              {% for c in course %}
                              <option value="{{c.id}}">{{c.course_id}} &nbsp; {{c.course_name}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Staff</label>
                           <select class="form-control" name="staff" required>
                              <option>Select Staff</option>
                              {% for stf in staff %}
                              <option value="{{stf.id}}">{{stf.user.first_name}} &nbsp; {{stf.user.last_name}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"> Add Subject</i></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   {% endblock main_content %}