<!--
   Made By -: Python World
   Youtube -: www.youtube.com/pythonworldtech
   website - :www.pythonworldtech.in
   email - :pythonworld@gmail.com
   Copyright © 2022 Python World
   -->
   {% extends 'admin/bases.html' %}
   {% block main_content %}
   {% load static %}
   <div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="admin_home">Dashboard</a></li>
                  <li class="breadcrumb-item active">Manage Students</li>
               </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
               <a href="admin_add_student" class="btn btn-primary"><i class="fas fa-plus"> Add Student</i></a>
            </div>
         </div>
      </div>
      {% if student %}
      <div class="col-md-12">
         <div class="card card-success">
            <div class="card-header">
               <h3 class="card-title">Student Information</h3>
            </div>
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                           <tr>
                              <th>Sr No.</th>
                              <th>Profile Image</th>
                              <th>Addmission No.</th>
                              <th>Course Name</th>
                              <th>Session Year</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Email</th>
                              <th>Mobile</th>
                              <th>DOB</th>
                              <th>Gender</th>
                              <th>Address</th>
                              <th>Father's Name</th>
                              <th>Mother's Name</th>
                              <th>Parent Number</th>
                              <th>Admission Fess</th>
                              <th>Password</th>
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              {% for stu in student %}
                              <td>{{forloop.counter}}</td>
                              {% if stu.user.profile_pic %}
                              <td><a href="{{stu.user.profile_pic.url}}"><img src="{{stu.user.profile_pic.url}}" alt="Profile Pic" height="100" width="100"></a></td>
                              {% else %}
                              <td><img src="{% static 'images/user.png'%}" alt="Profile Pic" height="100" width="100"></td>
                              {% endif %}
                              <td>{{stu.addmission_no}}</td>
                              <td>{{stu.course_id}}</td>
                              <td>{{stu.session_year_id}}</td>
                              <td>{{stu.user.first_name}}</td>
                              <td>{{stu.user.last_name}}</td>
                              <td>{{stu.user.email}}</td>
                              <td>{{stu.mobile}}</td>
                              <td>{{stu.dob}}</td>
                              <td>{{stu.gender}}</td>
                              <td>{{stu.address}}</td>
                              <td>{{stu.father_name}}</td>
                              <td>{{stu.mother_name}}</td>
                              <td>{{stu.parent_mobile_no}}</td>
                              <td>₹ {{stu.admission_fees}}</td>
                              <td>{{stu.user.password}}</td>
                              <td align="center">
                                 <a href="{% url 'admin_view_student' stu.id  %}" class="btn btn-info" style="width: 50px;"><i class="fas fa-eye"></i></a>
                                 <a href="{% url 'admin_edit_student' stu.id  %}" class="btn btn-warning mt-2" style="width: 50px;"><i class="fas fa-pen"></i></a>
                                 <a href="{% url 'admin_delete_student' stu.user.id  %}" class="btn btn-danger mt-2" style="width: 50px;" onclick="return confirm('Are You SureAre You Sure you want To delete Student ?')"><i class="fas fa-trash"></i></a>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% else %}
      <br>
      <h3 class="text-capitalize" style="text-align:center;">Sorry No Student Found !!!</h3>
      <br><br>
      <div class="text-center">
         <img src="{% static 'images/no.svg' %}" alt=""
            class="img-fluid img-thumbnail w-25">
      </div>
      {% endif %}
   </div>
   {% endblock main_content %}