<!--
   Made By -: Python World
   Youtube -: www.youtube.com/pythonworldtech
   website - :www.pythonworldtech.in
   email - :pythonworld@gmail.com
   Copyright © 2022 Python World
   -->
   {% extends 'admin/bases.html' %}
   {% block main_content %}
   {% load static %}
   <div class="page-wrapper">
   <div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="admin_home">Dashboard</a></li>
               <li class="breadcrumb-item active">View Admission Application</li>
            </ul>
         </div>
      </div>
   </div>
   {% if admission %}
   <div class="col-md-12">
      <div class="card card-success">
         <div class="card-header">
            <h3 class="card-title">View New Admission Information</h3>
         </div>
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Sr.No.</th>
                           <th>Application No.</th>
                           <th>Full Name</th>
                           <th>Father Name</th>
                           <th>Mother Name</th>
                           <th>DOB</th>
                           <th>Gender</th>
                           <th>Email</th>
                           <th>Phone No.</th>
                           <th>Course</th>
                           <th>Address</th>
                           <th>State</th>
                           <th>City</th>
                           <th>Zip Code</th>
                           <th>Status</th>
                        </tr>
                     </thead>
                     {% for ap in admission %}
                     <tbody>
                        <tr>
                           <td>{{forloop.counter}}</td>
                           <td>{{ ap.application_no}}</td>
                           <td>{{ ap.full_name }}</td>
                           <td>{{ ap.father_name }}</td>
                           <td>{{ ap.mother_name }}</td>
                           <td>{{ ap.dob }}</td>
                           <td>{{ ap.gender }}</td>
                           <td>{{ ap.email }}</td>
                           <td>{{ ap.phone }}</td>
                           <td>{{ ap.course }}</td>
                           <td>{{ ap.address }}</td>
                           <td>{{ ap.state }}</td>
                           <td>{{ ap.city }}</td>
                           <td>{{ ap.zip_code }}</td>
                           <td>
                              {% if ap.status == 0 %}
                              <a href="{% url 'admin_admission_approve' admission_id=ap.id %}" class="btn btn-success">Approve</a>
                              <a href="{% url 'admin_admission_reject' admission_id=ap.id %}" class="btn btn-danger mt-2">Reject</a>
                              {% elif ap.status == 1 %}
                              <button class="btn btn-success" disabled="disabled">Approved</button>
                              {% else %}
                              <button class="btn btn-danger" disabled="disabled">Rejected</button>
                              {% endif %}
                           </td>
                        </tr>
                     </tbody>
                     {% endfor %}
                  </table>
               </div>
            </div>
         </div>
         {% else %}
         <br>
         <h3 class="text-capitalize" style="text-align:center;">Sorry No Application Found !!!</h3>
         <br><br>
         <div class="text-center">
            <img src="{% static 'images/no.svg' %}" alt=""
               class="img-fluid img-thumbnail w-25">
         </div>
         {% endif %}
      </div>
   </div>
   {% endblock main_content %}