<!--
   Made By -: Python World
   Youtube -: www.youtube.com/pythonworldtech
   website - :www.pythonworldtech.in
   email - :pythonworld@gmail.com
   Copyright © 2022 Python World
   -->
   {% extends 'student/bases.html' %}
   {% block main_content %}
   {% load static %}
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="student_home">Dashboard</a></li>
               <li class="breadcrumb-item active">Update Password</li>
            </ul>
         </div>
      </div>
   </div>
   {% if messages %}
               {% for message in messages %}
               <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %} >{{message}}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
               </p>
               {% endfor %}
               {% endif %}
               {% if error %}
               <div class="alert alert-danger" role="alert">
                  {{error}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               {% endif %}
   <section class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12">
               <div class="card card-primary">
                  <div class="card-header">
                  </div>
                  <form method="POST">
                     {% csrf_token %}
                     {% for st in admin %}
                     <div class="card-body">
                        <div class="form-group">
                           <label>Current Password </label>
                           <input readonly value="{{st.password}}" type="text" class="form-control" />
                        </div>
                     </div>
                     <div class="card-body">
                              <div class="form-group">
                                 <label>New Password </label>
                                 <input type="text" name="npassword" class="form-control" placeholder="*******" />
                              </div>
                           </div>
                           <div class="card-body">
                        <div class="form-group">
                           <label>Confirm New Password </label>
                           <input type="text" name="cnpassword" class="form-control" placeholder="*******" />
                        </div>
                     </div>
                     {% endfor %}
                     <div class="card-footer">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"> Update Password </i></button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
   {% endblock main_content %}