<!--
   Made By -: Python World
   Youtube -: www.youtube.com/pythonworldtech
   website - :www.pythonworldtech.in
   email - :pythonworld@gmail.com
   Copyright © 2022 Python World
   -->
   {% extends 'student/bases.html' %}
   {% block main_content %}
   {% load static %}
   <title>Student Management System | Manage Session</title>
   <link rel="icon" href="{% static 'app/images/24.jpeg' %}">
   <div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         {% if messages %}
         {% for message in messages %}
         <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 text-center" {% endif %} >{{message}}</p>
         {% endfor %}
         {% endif %}
         {% if error %}
         <div class="alert alert-danger text-center" role="alert">
            {{error}}
         </div>
         {% endif %}
         <div class="row align-items-center">
            <div class="col">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="student_home">Dashboard</a></li>
                  <li class="breadcrumb-item active">Student Notifications</li>
               </ul>
            </div>
         </div>
      </div>
      {% if notification %}
      <div class="col-md-12">
         <div class="card card-success">
            <div class="card-header">
               <h3 class="card-title">Student Notifications Information</h3>
            </div>
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                           <tr>
                              <th>SR.No.</th>
                              <th>Message</th>
                              <th>Date</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              {% for stf in notification %}
                              <td>{{forloop.counter}}</td>
                              <td>{{stf.message}}</td>
                              <td>{{stf.created_date}}</td>
                              <td align="center">
                                 {% if stf.status == 0 %}
                                 <a href="{% url 'student_read_notification' status=stf.id %}" class="btn btn-danger">
                                 Mark as Read
                                 </a>
                              </td>
                              {% else %}
                              <button type="button" disabled class="btn btn-danger" data-toggle="modal" data-target="#sendnotification-{{forloop.counter}}">
                              Mark as Read
                              </button></td>
                              {% endif %}
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% else %}
      <br>
      <h3 class="text-capitalize" style="text-align:center;">Sorry No Notification Found !!!</h3>
      <br><br>
      <div class="text-center">
         <img src="{% static 'images/no.svg' %}" alt=""
            class="img-fluid img-thumbnail w-25">
      </div>
      {% endif %}
   </div>
   {% endblock main_content %}